<!DOCTYPE html>
<html lang="zxx">
{% load staticfiles %}
<head>
	<title>Firebox | Login</title>
	<meta charset="UTF-8">
	<meta name="description" content="Forest Fire dectection">
	<meta name="keywords" content="Forest,Fire,dectection">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Favicon -->
	<link href="{% static "img/favicon.ico" %}" rel="shortcut icon"/>

	<!-- Google font -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i&display=swap" rel="stylesheet">

	<!-- Stylesheets -->
	<link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}"/>
	<link rel="stylesheet" href="{% static "css/font-awesome.min.css" %}"/>
	<link rel="stylesheet" href="{% static "css/owl.carousel.min.css" %}"/>
	<link rel="stylesheet" href="{% static "css/slicknav.min.css" %}"/>


	<!-- Main Stylesheets -->
	<link rel="stylesheet" href="{% static "css/style.css" %}"/>
	<link rel="stylesheet" href="{% static "css/logincss.css" %}"/>


</head>
<body>
	<!-- Page Preloder -->
	<div id="preloder">
		<div class="loader"></div>
	</div>

	<!-- Header section -->
	<header class="header-section clearfix">
		<a href="index.html" class="site-logo">
			<img src="{% static "img/logo.png" %}" alt="" height="30" width="130">
		</a>
		<div class="header-right">
			<div class="user-panel">
				<a href="" class="login">Login</a>
				<a href="" class="register">Create an account</a>
			</div>
		</div>
		<ul class="main-menu">
			<li><a href="index.html">Home</a></li>
			<li><a href="About.html">About</a></li>
			<!-- <li><a href="#">Pages</a>
				<ul class="sub-menu">
					<li><a href="category.html">Category</a></li>
					<li><a href="playlist.html">Playlist</a></li>
					<li><a href="artist.html">Artist</a></li>
					<li><a href="blog.html">Blog</a></li>
					<li><a href="contact.html">Contact</a></li>
				</ul>
			</li> -->
			<li><a href="blog.html">News</a></li>
			<li><a href="contact.html">Contact</a></li>
		</ul>
	</header>
	<!-- Header section end -->


	<!-- login sign up form start -->

	<div class="form-modal">

		<div class="form-toggle">
		    <button id="login-toggle" onclick="toggleLogin()">log in</button>
		    <button id="signup-toggle" onclick="toggleSignup()">sign up</button>
		</div>

		<div id="login-form">
		    <form>
		        <input type="text" placeholder="Enter email or username"/>
		        <input type="password" placeholder="Enter password"/>
		        <button type="button" class="btn login">login</button>
		        <p><a href="javascript:void(0)">Forgot password</a> </p>
		      <p><a href="javascript:void(0)" onclick="toggleSignup()">Register Account</a> </p>

		    </form>
		</div>
		<div id="signup-form">
		    <form action="/signup/" method="post">
						{% csrf_token %}
		        <input type="email" name="email" placeholder="Enter your email"/>
		        <input type="text" name="user_name" placeholder="Choose username"/>
		        <input type="password" name="password" placeholder="Create password"/>
		        <button type="submit" class="btn signup"> create account
		      </button>

		    </form>
		</div>

	</div>
	<!-- login sign up form end -->



	<!-- Footer section -->
	<footer class="footer-section">
		<div class="container">
			<div class="row">
				<div class="col-xl-6 col-lg-7 order-lg-2">
					<div class="row">
						<div class="col-sm-4">
							<div class="footer-widget">
								<h2>About us</h2>
								<ul>
									<li><a href="">Our Story</a></li>
									<li><a href="">Sol Music Blog</a></li>
									<li><a href="">History</a></li>
								</ul>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="footer-widget">
								<h2>Products</h2>
								<ul>
									<li><a href="">Music</a></li>
									<li><a href="">Subscription</a></li>
									<li><a href="">Custom Music</a></li>
									<li><a href="">Footage</a></li>
								</ul>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="footer-widget">
								<h2>Playlists</h2>
								<ul>
									<li><a href="">Newsletter</a></li>
									<li><a href="">Careers</a></li>
									<li><a href="">Press</a></li>
									<li><a href="">Contact</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xl-6 col-lg-5 order-lg-1">
					<img src="{% static "img/logo.png" %}" alt="">
					<div class="copyright">
						Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved  by FireBox
					</div>
					<div class="social-links">
						<a href=""><i class="fa fa-instagram"></i></a>
						<a href=""><i class="fa fa-pinterest"></i></a>
						<a href=""><i class="fa fa-facebook"></i></a>
						<a href=""><i class="fa fa-twitter"></i></a>
						<a href=""><i class="fa fa-youtube"></i></a>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<!-- Footer section end -->

	<!--====== Javascripts & Jquery ======-->
	<script src="{% static "js/jquery-3.2.1.min.js" %}"></script>
	<script src="{% static "js/bootstrap.min.js" %}"></script>
	<script src="{% static "js/jquery.slicknav.min.js" %}"></script>
	<script src="{% static "js/owl.carousel.min.js" %}"></script>
	<script src="{% static "js/mixitup.min.js" %}"></script>
	<script src="{% static "js/main.js" %}"></script>
	<script type="text/javascript">
		function toggleSignup(){
   document.getElementById("login-toggle").style.backgroundColor="#fff";
    document.getElementById("login-toggle").style.color="#222";
    document.getElementById("signup-toggle").style.backgroundColor="#57b846";
    document.getElementById("signup-toggle").style.color="#fff";
    document.getElementById("login-form").style.display="none";
    document.getElementById("signup-form").style.display="block";
}

function toggleLogin(){
    document.getElementById("login-toggle").style.backgroundColor="#57B846";
    document.getElementById("login-toggle").style.color="#fff";
    document.getElementById("signup-toggle").style.backgroundColor="#fff";
    document.getElementById("signup-toggle").style.color="#222";
    document.getElementById("signup-form").style.display="none";
    document.getElementById("login-form").style.display="block";
}

	</script>

	</body>
</html>
